<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
  <div class="form-group">
    <input class="form-control form-control-lg" id="creteTestTitle" type="text" placeholder="Title" formControlName="title">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="creteTestDescription" rows="4" placeholder="Description" formControlName="description"></textarea>
  </div>
  <div formArrayName="questions">
    <div *ngFor="let question of myForm.controls.questions.controls; let i=index">
        <lm-new-question></lm-new-question>
    </div>
  </div>
  <button type="button" (click)="addQuestion()" class="btn add-question">Add new question</button>

  <button type="submit" class="btn btn-dark btn-lg btn-block create-test">Create test</button>
</form>
