<div class="container border">
  <div ngbDropdown class="dropdown-question-type">
    <button class="btn btn-secondary dropdown-toggle" id="newQuestionType" ngbDropdownToggle>Type</button>
    <div ngbDropdownMenu aria-labelledby="newQuestionType">
      <button class="dropdown-item">Single choice</button>
      <button class="dropdown-item">Multiple choice</button>
    </div>
  </div>
  <div class="form-group">
      <input class="form-control form-control-lg" id="creteTestTitle" type="text" placeholder="Question">
  </div>
  <lm-new-answer></lm-new-answer>
</div>
